# Custom
secrets
images
STDOUTlog_nanbhas.txt
STDOUTlog_medai.txt
STDOUTlog_test.txt
globalStore/privateConstants.py


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
.ipynb
*.ipynb
